<div class="conductor">
    <div data-instrument="conductor" class="vexml_viewer fragment current-fragment"></div>
    <div data-instrument="conductor" class="vexml_viewer fragment next-fragment"></div>
</div>